*{
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    
  }

/* Esta clase se la asigno a todos los componentes grandes/padres */
.pages{
    min-height: calc(100vh - 90px - 60px);
    width: 100%;
   
    background-color: #ffffff;
}



/* 
FOOTER
*/
.footer{
    background: rgb(46, 46, 46);
    height: 60px;
    width: 100%;
    color: white;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items:center
    
}
.footer p{
    font-size: 20px;
    margin: 0;
}
.redes{
    display: flex;
    align-items: center;
    
}
.redes a{
    font-size: 30px;
    color: white;
    margin-right: 3px;
   
}
