.pages{
    min-height: calc(100vh - 90px - 60px);
    width: 100%;
   
    background-color: rgb(255, 255, 255);
}

.navbar{
    background: rgb(46, 46, 46);
    min-height: 90px;
 
}
.navbar-toggle{
    background:#ffac40;
}
.navbar span{
    color: white;
    font-weight: 400;
    font-size: 18px;
}


/* Home */

.portada{
  
    width: 100%;
    min-height: calc(91vh );
    background-image: url('https://www.xtrafondos.com/descargar.php?id=477&resolucion=1920x1080');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portada-opacidad{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(91vh );
    background-color: rgba(5, 21, 22, 0.733);
}

.portada-titulo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portada-titulo h1{
    color: white;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
}
.portada-titulo h5{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
}
.portada-titulo .btn-ver{
    margin-top: 30px;
    font-size:20px;
   width: 70%;
   background:#ffac40;
   color:rgb(46, 46, 46);
    border: none;
    font-weight: 500;
}

.contacto{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.contacto h2{
    margin-top:20px;
    text-align: center;
    font-size: 25px;
    color:rgb(46, 46, 46);
}
.logo-social{
    font-size: 70px;

    
}
 .inst{
    color:#ffac40;
    margin-right: 20px;
}
 .face{
    color:#ffac40;
    margin-right: 20px;
}
.whats{
    color:#ffac40;
}
/* Detalle producto */



.countdetail-container{
    display: flex;
    align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
    

}

.countdetail-container p {
    margin: 0px 10px 0px 10px;
    font-size: 25px;
    
}



.itemdetail{
    background: rgb(252, 247, 247);
    padding:20px;
}

.itemdetail .detail-img{
   
    width: 60%;
    margin: auto;
}

.itemdetail h4{
    margin-top: 20px;
}

.itemdetail .detail-img img{
    width: 100%;
}


/*PROD*/



/* 
FOOTER
*/
.footer{
    background: rgb(46, 46, 46);
    height: 60px;
    width: 100%;
    color: white;
}
.footer p{
    font-size: 20px;
    margin: 0;
}
